[submodule "lib/J3DUltra"]
	path = lib/J3DUltra
	url = https://github.com/JoshuaMKW/J3DUltra.git
        branch = main
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/libbti"]
	path = lib/libbti
	url = https://github.com/HazardousPeach/libbti.git
