[submodule "lib/J3DUltra"]
	path = lib/J3DUltra
	url = https://github.com/Sage-of-Mirrors/J3DUltra.git
    branch = main
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/HazardousPeach/glfw.git
[submodule "lib/libbti"]
	path = lib/libbti
	url = https://github.com/HazardousPeach/libbti.git
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "lib/netpp"]
	path = lib/netpp
	url = https://github.com/JoshuaMKW/netpp.git
	branch = main
[submodule "lib/imgui_markdown"]
	path = lib/imgui_markdown
	url = https://github.com/JoshuaMKW/imgui_markdown.git
	branch = rigorous-list-detection
[submodule "lib/libgcm"]
	path = lib/libgcm
	url = https://github.com/JoshuaMKW/libgcm.git
